{% assign p = include.pub %}

<div class="pub-item{% if p.selected %} pub-item--selected{% endif %}">
  {% if include.number %}
    <span class="pub-number">
      {{ include.number }}. 
    </span>
  {% endif %}

  <span class="pub-text">
    <span class="pub-title">
      <a href="{{ p.url | relative_url }}">{{ p.title }},<br></a>
    </span>

    {% if p.coauthors %}
      <span class="pub-coauthors">{{ p.coauthors }}<br></span>
    {% endif %}

    <span class="pub-meta">
      {% if p.toappear %}
        {% if p.bookfullname %}
          To appear in <em>{{ p.bookfullname }}</em>
        {% else %}
          Accepted for publication.
        {% endif %}
      {% else %}
        In <em>{{ p.bookfullname }}</em>, 
        {% if p.volume %}
        Vol. {{ p.volume }},
        {% endif %}
        {{ p.pages }}, {{ p.month }} {{ p.year }}
      {% endif %}
    </span>

    {% if p.paperurl %}
      <span class="pub-links">
        [<a href="{{ p.paperurl }}">paper</a>]
      </span>
    {% endif %}

    {% if p.slidesurl %}
      <span class="pub-links">
        [<a href="{{ p.slidesurl }}">slides</a>]
      </span>
    {% endif %}

    {% if p.codeurl %}
      <span class="pub-links">
        [<a href="{{ p.codeurl }}">code</a>]
      </span>
    {% endif %}
  </span>
</div>